/* setting */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

header {
    margin: 2%;
    text-align: left;
}

body {
    text-align: center;
}

button {
    margin: 20px;
    width: 80px;
    height: 40px;
    cursor: pointer;
    background-color: #ff7034;
    color: white;
    font-size: 20px;
}

h1 {
    margin: 2.5%;
}

div {
    list-style: none;
}

ol {
    width: 40%;
    background-color: bisque;
    margin-left: 30%;
    margin-right: 30%;
    padding: 2.5%;
}

li {
    margin: 30px; 
    font-size: 20px;
    font-weight: 400;
}

p {
    margin: 30px; 
    font-size: 20px;
    font-weight: 400;
}

input {
    font-size: 35px;
    margin: 50px;
}

.timer {
    text-align: right; 
    margin: 50px;
}

.hidden {
    display: none;
}

#scorelist {
    list-style: none;
}

li:hover {
    background-color: lightsalmon;
}
